@import url('https://fonts.googleapis.com/css?family=Audiowide|Nova+Mono|Righteous');

* {
    font-family: "Nova Mono", monospace;
    font-weight: lighter;
}

html, body {
    background-color: black;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
}

body {
    min-height: 200vh;
    color: whitesmoke;
}

.fixed {
    position: fixed;
}

.boxify {
    padding: 40px;
    border-radius: 30px;
}

nav {
    z-index: 100;
    position: relative;
    height: 100vh;
    background: rebeccapurple url("../images/stage_background.jpg");
    background-size: contain;
    color: whitesmoke;
}

nav h1 {
    font-size: 2.3em;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 55%;
    margin: 0;
}

nav ul {
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    bottom: 50%;
    right: 2%;
    width: 35%;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-bottom: 2%;
}

nav ul li:hover {
    list-style: square;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

nav p {
    font-size: 0.8em;
    line-height: 1.6em;
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 45%;
    height: 50%;
    text-align: justify;
    overflow: scroll;
}

nav img {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 7%;
    -webkit-user-drag: none;
}

nav img:hover {
    cursor: pointer;
}

section {
    width: 100%;
    margin-bottom: 200px;
}

section h2 {
    font-size: 2em;
}

section h3 {
    font-size: 1.6em;
}

section article {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    padding-top: 80px;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game_model {
    background: radial-gradient(ellipse at center, #217a17 0%,#000000 45%);
}

#game_model article {
    background: url("../images/color_swirl_2.png") no-repeat center center;
    background-size: contain;
    padding: 30px;
    height: 85vh;
}

#game_model article p {
    background: rgba(230, 255, 200, 0.4);
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 75px;
    width: 37vw;
    box-shadow: 4px 4px 20px rgba(112, 128, 144, 0.8);
    font-size: 0.87em;
}

#game_model article h2 {
    color: rgb(79, 194, 52);
}

#simplicity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#simplicity div#bushnell {
    width: 100%;
    background: radial-gradient(ellipse at center, #26517a 0%,#000000 45%);
}

#simplicity div#bushnell article {
    background: url("../images/color_swirl_1.png") no-repeat center center;
    background-size: contain;
    padding: 30px;
    height: 85vh;
    width: 100%;
}

#simplicity div#bushnell article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(34, 111, 195);
}

#simplicity div#bushnell article p {
    background: rgba(118, 159, 255, 0.4);
    margin-left: 300px;
    margin-bottom: 120px;
    width: 37vw;
    align-self: flex-start;
    box-shadow: -4px 4px 20px rgba(112, 128, 144, 0.8);
    font-size: 0.87em;
}

#simplicity div.comparison {
    display: flex;
    align-items: center;
    margin-top: 100px;
    height: 60vh;
    width: 100vw;
    background-color: rgba(52, 76, 122, 0.6);
}

#simplicity div.comparison img {
    height: 100%;
    display: block;
}

#simplicity div.comparison dl {
    font-size: 0.6em;
    margin: 0 40px;
}

#simplicity div.comparison dt {
    color: lightsteelblue;
    font-size: 1.2em;
}

article img {
    display: block;
    width: 100%;
}
